@mixin btn-shared {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    text-align: center;

    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;

    border: none;
    outline: none;
}
